body{
    background:#f5f7f9;
}

.stats-card{
    border-left:5px solid #176b5a !important;
    border-radius:14px;
}

.icon-circle{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#e9f6ec;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#176b5a;
}

.card{
    border-radius:14px;
}

.badge{
    padding:8px 14px;
    font-size:13px;
}

img{
    object-fit:cover;
}